.pokemon-detail {
    display: flex;
    flex-flow: column nowrap;
    max-width: 400px;
    margin: 0 auto;
    padding-inline: 1.5rem;

    @media (min-width: 450px) {
      padding-inline: 0;
    }
}

.pokemon-detail-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.header-name{
    margin: 0;
}


.img-responsive {
   width: 100%; 
   height: auto;
   display: block;
   object-fit: contain;
}

.error-view {
    border: 2px red solid;
    padding: 2rem;
    width: 200px;
    border-radius: 2rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.71);
}